pip install -r requirements.txt Belum diatur dan ini khusus untuk cara pasang module di anaconda

$ pip install streamlit
$ conda install pytorch torchvision torchaudio pytorch-cuda=12.1 -c pytorch -c nvidia
$ pip install pytube
$ conda install -c conda-forge ultralytics
